.header{
  width: 100%;
  height: 4em;
  background-color: #fae102;
  text-align: center;
}

.footer{

  width: 100%;
  height: 4em;
  background-color: #fae102;
  text-align: center;
}

.board{
  text-align: center;
  align-content: center;
  display: inline-block;
  width: 250px;
  flex-wrap: wrap;
}

.box{
  width: 70px;
  height:70px;
  border: 1px solid black;
  display: inline-block;
  line-height: 80px;
  text-align: center;
}

.box-board{
  padding-top: 100px;
  padding-left: 450px;
}